<header>
  <div class="back-button left-button" {{action 'back'}}>
    Back
  </div>
  <h1>
    Server respond with status {{ model.status }}
  </h1>
</header>
<div id="main">
	{{ model.text }}
</div>	