<header>
  <h1>
    Github search
  </h1>
</header>
<div id="main" class="search-form">
	<label>GitHub repository name:</label>
	{{input type="text" value=repoURI}}
	<label>Search line:</label>
	{{input type="text" value=searchLine}}
	<button {{action "findIncludes"}} class="btn-find full">Find</button>
</div>	